<div class="container">
<h1>Welcome to the rob's data.</h1> 
<p>you can change any of the following:</p>

<table>
    <tr><td class="even"><h3><%= link_to 'appearance', appearances_path %></h3></td> 
    <td class="odd"><h3><%= link_to 'appearance', appearances_path %></h3></td> 
    <td class="even"><h3><%= link_to 'ethnicity', ethnicities_path %></h3></td> 
    <td class="odd"><h3><%= link_to 'gender', genders_path %></h3></td> </tr>
    
    <tr><td class="even"><h3><%= link_to 'network', networks_path %></h3></td>    
    <td class="odd"><h3><%= link_to 'organisation', organisations_path %></h3></td> 
    <td class="even"><h3><%= link_to 'person', people_path %></h3></td>
    <td class="odd"><h3><%= link_to 'political party', political_parties_path %></h3></td></tr>
     
    <tr><td class="even"><h3><%= link_to 'profession', professions_path %></h3></td>     
    <td class="odd"><h3><%= link_to 'programs', programs_path %></h3></td> 
    <td class="even"><h3><%= link_to 'roles', roles_path %></h3></td> 
    <td class="odd"><h3><%= link_to 'social class', social_classes_path %></h3></td></tr> 
    
    <tr><td class="even"><h3><%= link_to 'source', sources_path %></h3></td>     
    <td class="odd"><h3><%= link_to 'topic', topics_path %></h3></td> 
    <td class="even"><h3><%= link_to 'television type', tv_types_path %></h3></td>  </tr>
</table>

<h2>create a report</h2>
</div>

